@font-face {
    font-family: "font";
    src: url("../font/font.ttf");
}

* {
    /* font-family: "font"; */
    /* overflow: hidden; */
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
